body {
    font-family: 'Langar', cursive;
    font-size: large;
}

a {
    cursor: pointer;
}

.fas {
    font-size: 30px;
}

#textbox {
    background:#fdf8c8 !important;
    font-family: 'Times New Roman', Times, serif;
    font-size: large !important;   
}

span {
    font-size: large !important ;
}