body {
    font-family: 'Langar', cursive;
    font-size: large;
}

a {
    cursor: pointer;
}

.fas {
    font-size: 30px;
}

#textbox {
    background:#fdf8c8 !important;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;   
}

span {
    font-size: large !important ;
}

select {
    cursor: pointer;
}

#fontfamily {
    max-width: 30%;
}

@media only screen and (max-width: 991px) {
    #fontfamily {
        max-width: 100%;
    }
}