<div class="container my-4">
    <div class="jumbotron">
        <h1 class="text-center display-4">500 Internal Server Error!</h1>
        <hr class="my-4">
        <p class="lead text-center">
            <%- errorMsg %> 
        </p>
        <div class="form-group text-center mt-4 pt-4">
            <a href="/" data-toggle="tooltip" data-placement="bottom" title="Home"><i class="fas fa-home"></i> <span class="sr-only">(current)</span></a>
        </div>
    </div>
</div>