<div class="alert alert-success alert-dismissible fade show sticky-top" role="alert">
    <strong>Message: </strong> File sent as mail.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>