<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%- title %>
    </title>
    <link rel="stylesheet" href="/libs/css/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/jqueryUI/jquery-ui.min.css">
    <link rel="stylesheet" href="/libs/colorPicker/evol-colorpicker.min.css">
    <script src="/libs/jquery-3.4.1.min.js"></script>
    <script src="/libs/popper.min.js"></script>
    <script src="/libs/jqueryUI/jquery-ui.min.js"></script>
    <script src="/libs/js/bootstrap.min.js"></script>
    <script src="/libs/FileSaver.js"></script>
    <script src="/libs/colorPicker/evol-colorpicker.min.js"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Langar&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
</head>

<body>
    <%- body %>
</body>

</html>